<div class="container">
     <div class="top">
        <h2>Welcome <%= current_user.name%></h2>
     </div>
     <%= link_to 'Add Food', new_food_path() %>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quatity</th>
            <th>Measurement unit</th>
            <th>Action</th>
            </tr>
        </thead>
            <% @foods.each do |food| %>
              <tr>
                <td><%= food.name%></td>
                <td><%= food.price%></td>
                <td><%= food.quantity%></td>
                <td><%= food.measurement_unit%></td>
                <td><%= link_to 'Delete', new_food_path() %></td>
              </tr>
            <%end%>
       
    </table>
</div>