<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-4">
  <div class="container">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <!-- Links for logged-in users -->
        <li class="nav-item">
          <%= link_to 'Foods', food_index_path, class: 'btn small btn-primary' %>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path(current_user), class: 'nav-link' %>
        </li>
        <li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <%= link_to "Logout", "/users/sign_out", method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <!-- "Home" tab for users not logged in -->
       <li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>